html{position: relative;height: 100%;}
body{position: absolute;left: 0;top:0;height: 100%;overflow: hidden;}
.clearfix:before,.clearfix:after{
    content:"";
    display:block;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
.main-container{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.left-nav{
  width: 20%;
  flex-shrink:0;
}
.right-content{
  margin-left: 10px;
  width: 100%;
  overflow: scroll;
  padding:20px;
  background: #fff;
}
table{
  border:1px solid #ddd;
  border-radius: 5px;
  border-spacing: 0;
}
th{
  height: 29px;
  background: #ddd;
}
td{
  padding:4px 0;
  border-bottom: 1px solid #f1f1f1;
}
tbody tr:last-child td{
  border-bottom: none;
}

form a{color:#212121;}
